doctype html

include mixins

html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name="viewport", content="height=device-height,width=device-width,initial-scale=1.0,user-scalable=no")
      +description(locals)

      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='shortcut icon', href='/favicon.ico')
      link(rel='stylesheet', href='/css/style.css')
      +mathjax
      +mixpanel(locals.mixpanel)
      +google_analytics(locals.google_analytics)
  body
    header#header
      block header
        +header(locals)
    div.container#main
      block content
    footer
      div.container
        block footer
          p.copyright &copy;#{ new Date().getFullYear() } #{ locals.owner }
